<div class="contact-us" id="contact-us">
  <div class="heading">
    <h1>Contact <b>Us</b></h1>
  </div>
  <div class="contact-container">
    <!-- <div class="image-container"> -->
    <img
      src="../../../assets/images/contact-us/contact-us.png"
      alt="contact-us"
      pAnimateOnScroll
      enterClass="fadeinleft"
      leaveClass="fadeoutleft"
      class="animation-duration-1000 animation-ease-in-out"
    />
    <!-- </div> -->
    <div
      class="content cards animation-duration-1000 animation-ease-in-out"
      pAnimateOnScroll
      enterClass="fadeinright"
      leaveClass="fadeoutright"
    >
      <div pRipple class="card shadow-3">
        <h2>Balmukund Glory</h2>
        <p>Near, Randesan Metro Station Cross Road</p>
        <p>Randesan, Gandhinagar 382007</p>
        <p>
          <a href="https://maps.app.goo.gl/xaNuEj3ixaBcePaSA" target="_blank">
            <i class="pi pi-map-marker"></i>Location
          </a>
        </p>
      </div>
      <div pRipple class="card shadow-3">
        <h2>Get In Touch</h2>
        <p><i class="pi pi-phone"></i>+91 8128889100</p>
        <a href="mailto:balmukundglory@gmail.com">
          <p><i class="pi pi-envelope"></i>balmukundglory&#64;gmail.com</p>
        </a>
        <a
          href="https://www.instagram.com/balmukundgroup/"
          target="blank"
          class="instagram"
          ><i class="pi pi-instagram"></i
        ></a>
        <a
          href="https://www.facebook.com/balmukundgroup"
          target="blank"
          class="facebook"
          ><i class="pi pi-facebook"></i
        ></a>
      </div>
    </div>
  </div>
</div>
