<div class="amenities" id="amenities">
  <div class="heading">
    <h1>amenities</h1>
    <h3 class="p-text">
      Indulge in a Lifestyle of Luxury with Over 14 Exclusive Amenities
    </h3>
    <p class="p-text">
      At Balmukund Glory, we offer an unparalleled living experience with over
      14 exclusive amenities. Residents enjoy relaxation, recreation, and
      rejuvenation in vibrant community spaces and serene wellness areas. Every
      amenity is crafted to elevate your lifestyle.
    </p>
  </div>
</div>
<div class="amenities-container">
  <p-carousel
    [value]="amenities"
    [numVisible]="5"
    [numScroll]="5"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-amenity pTemplate="item">
      <div class="card">
        <div class="image-container">
          <img src="{{ amenity.image }}" alt="" />
        </div>
        <div class="name">
          <h4>{{ amenity.name }}</h4>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
