.amenities {
    padding: 50px 50px 0 50px;
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : #142D4C
 }

 h1 {
  color : #142D4C
 }
  .heading p {
    width: 70%;
    font-size: 16px;
    text-align: center;
 }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 220px; */
  }
  
  .image-container {
    background-color: #E4DCCF;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  h4 {
    text-align: center;
    margin: 20px 0;
    color : #142D4C
  }
  
 :host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background-color: #142D4C;
 }

 .amenities-container {
    padding: 0 50px 50px 50px;
 }

 .p-text {
  line-height: 1.5rem;
}

 @media (max-width: 600px) {
  .amenities {
    padding: 50px 30px 0;
  }

  .amenities-container {
    padding: 0 0 50px;
  }

  h3 {
      text-align: center;
  }

  .heading p {
      width: 100%;
      text-align: justify;
  }

  :host ::ng-deep.p-carousel .p-carousel-indicators {
    padding: 1rem;
    display: none;
  }

  .image-container {
    height: 80px;
    width: 80px;
  }

  img {
    width: 40px;
    height: 40px;
  }

  h4 {
    font-size: 14px;
  }
}

@media (min-width: 480px) and  (max-width: 915px) {
  h3 {
    text-align: center;
  }

  .heading p {
    width: 100%;
    text-align: justify;
  }
}
