<div class="amenities" id="amenities">
  <div class="heading">
    <h1>amenities</h1>
    <h3 class="p-text">
      Indulge in a Lifestyle of Luxury with Over 10 Exclusive Amenities
    </h3>
    <p class="p-text">
      At Balmukund Glory, we pride ourselves on offering an unparalleled living
      experience. With over 10 exclusive amenities, residents are treated to a
      wealth of opportunities for relaxation, recreation, and rejuvenation. From
      vibrant community spaces perfect for fostering connections to serene
      wellness areas designed for ultimate relaxation, every aspect of our
      amenities is crafted to elevate your lifestyle to new heights.
    </p>
  </div>
</div>
<div class="amenities-container">
  <p-carousel
    [value]="amenities"
    [numVisible]="5"
    [numScroll]="5"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-amenity pTemplate="item">
      <div class="card">
        <div class="image-container">
          <img src="{{ amenity.image }}" alt="" />
        </div>
        <div class="name">
          <h4>{{ amenity.name }}</h4>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
