.footer {
    display: flex;
    flex-direction: column;
    background-color: #142D4C;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 100%;
    bottom: 0;
  }
  
  .brand {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    color: #e7e2ff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copyright {
    font-size: 14px;
    color: #e7e2ff;
    text-align: center;
  }
  
  .rera {
    font-size: 16px;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media (max-width: 480px) {
  .brand {
    font-size: 20px;
  }

  .footer {
    height: 190px;
  }

  .copyright {
    width: 80%;
  }

  .rera {
    font-size: 16px;
    text-align: center;
    word-break: break-all;
  }
}