:host ::ng-deep .p-galleria-mask {
  background-color: rgba(0, 0, 0, 0.7) !important; 
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #142D4C;
}
.gallery {
  padding: 30px 50px 60px 50px;
  background-color: #f1f1f1;
}

h1 {
  color: #142D4C
}
 h3 {
  text-align: center;
  line-height: 1.5rem;
 }

.gallery-image {
  aspect-ratio: 6/4;
  width: 32%;
  cursor: pointer;
  border-radius: 7px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
  background-image: linear-gradient(to bottom,
  rgb(33 44 55 / 0),
  rgb(33 44 55 / 0),
  rgb(33 44 55 / 0.75),
  );
  width: 32%;
}

.image-container  {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 2%;
}

@media (max-width: 915px) {
  .gallery-image {
    width: 47.5%;
  }

  .gallery-image:hover {
    transform: scale(1.05);
    width: 47.5%;
  }

  .image-container {
    column-gap: 5%;
  }
}

@media (max-width: 480px) {
  .gallery {
    padding: 50px 30px ;
  }

  .gallery-image {
    width: 100%;
  }

  .gallery-image:hover {
    transform: scale(1.05);
    width: 100%;
  }

  :host ::ng-deep .p-galleria .p-galleria-close .p-icon-wrapper .p-icon {
    width: 1rem;
    height: 1rem;
 }

 :host ::ng-deep .p-galleria .p-galleria-close {
  width: 3rem;
  height: 3rem;
 }
}


