<div class="about-us" id="about-us">
  <div class="heading">
    <h1>About The <b>Brand</b></h1>
  </div>
  <div class="about-section">
    <div class="intro">
      <img
        pAnimateOnScroll
        enterClass="zoomin"
        leaveClass="fadeout"
        src="../../../assets/images/logo/Balmukund_Brand_Logo.png"
        alt=""
        class="logo animation-duration-1000 animation-ease-in-out"
        loading="eager"
      />
      <p>
        With years of experience in real estate development, Balmukund is
        committed to crafting innovative and luxurious living spaces that strike
        a perfect balance between affordability and luxury, ensuring
        unparalleled satisfaction for our valued clientele.
      </p>
    </div>
    <div class="card-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img alt="Card" src="../../../assets/images/about-us/vision.png" />
            <h2>VISION</h2>
          </div>
          <div class="flip-card-back">
            <div class="card-content">
              <p class="p-text">
                At Balmukund Glory, we envision seamlessly integrating
                residential luxury with commercial vibrancy across our 13-floor
                establishment, redefining urban living with innovation in gated
                communities that offer both affordability and opulence.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img alt="Card" src="../../../assets/images/about-us/mission.png" />
            <h2>MISSION</h2>
          </div>
          <div class="flip-card-back">
            <div class="card-content">
              <p>
                We create luxurious living spaces and vibrant communities with
                modern amenities, comfort, and elegance. Our tailored commercial
                areas meet diverse business needs, supporting both residential
                tranquility and commercial vitality.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img alt="Card" src="../../../assets/images/about-us/aim.png" />
            <h2>AIM</h2>
          </div>
          <div class="flip-card-back">
            <div class="card-content">
              <p>
                Beyond our building, we strive to contribute positively to the
                community by nurturing both entrepreneurial endeavors and family
                aspirations, serving as a catalyst for economic growth and urban
                excellence. Welcome to Balmukund Glory, where luxury and
                vitality converge.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card-container">
      <div pRipple class="card shadow-3">
        <div class="card-image">
          <img alt="Card" src="../../../assets/images/about-us/vision.png" />
        </div>
        <div class="card-content">
          <h2>Vision</h2>
          <p>
            At Balmukund Glory, our overarching vision is to pioneer innovation
            in real estate by seamlessly integrating residential luxury with
            commercial vibrancy across our 13-floor establishment. We aspire to
            redefine urban living standards while setting a new benchmark for
            excellence in both residential and commercial sectors, ensuring a
            sustainable balance between affordability and opulence.
          </p>
        </div>
      </div>
      <div pRipple class="card shadow-3">
        <div class="card-image">
          <img alt="Card" src="../../../assets/images/about-us/mission-1.png" />
        </div>
        <div class="card-content">
          <h2>Mission</h2>
          <p>
            Our mission at Balmukund Glory is to curate a kingdom of luxurious
            living that reflects our unwavering commitment to society. We
            meticulously design spacious homes that redefine the experience of
            happy living, while also providing commercial spaces tailored to
            meet the diverse needs of businesses. Through state-of-the-art
            amenities and modern conveniences, we strive to elevate the
            lifestyles of our residents and create a vibrant hub for commercial
            activities.
          </p>
        </div>
      </div>
      <div pRipple class="card shadow-3">
        <div class="card-image">
          <img alt="Card" src="../../../assets/images/about-us/aim.png" />
        </div>
        <div class="card-content">
          <h2>AIM</h2>
          <p>
            Beyond our building's confines, our aim is to contribute positively
            to the community by bringing residents closer to their desires and
            helping them achieve their lifelong dreams. Balmukund Glory serves
            as a catalyst for economic growth, fostering a vibrant community of
            entrepreneurs while providing a nurturing environment for families
            to thrive. Welcome to a realm where residential luxury meets
            commercial vitality, offering a new standard of urban excellence.
          </p>
        </div>
      </div>
    </div> -->
