<div class="about-us" id="about-us">
  <div class="heading">
    <h1>About The <b>Brand</b></h1>
  </div>
  <div class="about-section">
    <div class="intro">
      <img
        pAnimateOnScroll
        enterClass="zoomin"
        leaveClass="fadeout"
        src="../../../assets/images/logo/Balmukund_Brand_Logo.png"
        alt=""
        class="logo animation-duration-1000 animation-ease-in-out"
        loading="eager"
      />
      <p>
        With years of experience in real estate development, Balmukund is
        committed to crafting innovative and luxurious living spaces that strike
        a perfect balance between affordability and luxury, ensuring
        unparalleled satisfaction for our valued clientele.
      </p>
    </div>
    <div class="card-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img alt="Card" src="../../../assets/images/about-us/vision.png" />
            <h2>VISION</h2>
          </div>
          <div class="flip-card-back">
            <div class="card-content">
              <p class="p-text">
                At Balmukund Glory, we envision seamlessly integrating
                residential luxury with commercial vibrancy across our 13-floor
                establishment, redefining urban living with innovation in gated
                communities that offer both affordability and opulence.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img alt="Card" src="../../../assets/images/about-us/mission.png" />
            <h2>MISSION</h2>
          </div>
          <div class="flip-card-back">
            <div class="card-content">
              <p>
                We create luxurious living spaces and vibrant communities with
                modern amenities, comfort, and elegance. Our tailored commercial
                areas meet diverse business needs, supporting both residential
                tranquility and commercial vitality.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img alt="Card" src="../../../assets/images/about-us/aim.png" />
            <h2>AIM</h2>
          </div>
          <div class="flip-card-back">
            <div class="card-content">
              <p>
                Beyond our building, we strive to contribute positively to the
                community by nurturing both entrepreneurial endeavors and family
                aspirations, serving as a catalyst for economic growth and urban
                excellence. Welcome to Balmukund Glory, where luxury and
                vitality converge.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
