<div class="about-project" id="about-project">
  <div class="heading">
    <h1>About <b>Project</b></h1>
    <h3 class="p-text">
      Discover Unparalleled Living and Business Prestige at Balmukund Glory
    </h3>
    <p class="p-text">
      Step into a Realm of Elevated Living and Thriving Business Ventures with
      Balmukund Glory, Where Every Aspect of Life and Work Converges to Redefine
      Urban Excellence.
    </p>
  </div>
  <div class="about-project-section">
    <div
      class="project-details animation-duration-1000 animation-ease-in-out"
      pAnimateOnScroll
      enterClass="fadeinleft"
      leaveClass="fadeoutleft"
    >
      <div class="row-1">
        <div pRipple class="towers">
          <p>3</p>
          <span>Towers</span>
        </div>
        <div pRipple class="amenities">
          <p>10+</p>
          <span>Amenities</span>
        </div>
      </div>
      <div class="row-2">
        <div pRipple class="units">
          <p>136</p>
          <span>Units</span>
        </div>
        <div pRipple class="shops">
          <p>30</p>
          <span>Shops</span>
        </div>
      </div>
    </div>
    <p-divider class="divider"></p-divider>
    <div class="project-image">
      <img
        src="../../../assets/images/about-project/front_view.png"
        alt="about-project"
        loading="lazy"
        pAnimateOnScroll
        enterClass="fadeinright"
        leaveClass="fadeoutright"
        class="animation-duration-1000 animation-ease-in-out"
      />
    </div>
  </div>
</div>
